/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 11, 2025, 8:57:26 AM
    Author     : DUY
*/


.container{
    padding-left: 217px;
    padding-right: 217px;
}

.function_place input{
    width: 7px;
    border: none;
    margin-left: 7px;
    margin-right: 7px;
}

.function_place{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}
.function_add{
    border: 1px solid rgb(212, 212, 212);
    border-radius: 25px;
    padding: 0px 0px;
    width: 71%;
    
}

.product_img img{
    width: 100%;  
}

.vf{
    font-weight: 600;
    margin-bottom: 30px;
}

.function_add i{
    cursor: pointer;
    padding: 12px 12px;
    border-radius: 29px;
}

.function_add i:hover{
    background-color: rgb(204, 204, 204);
}

.wish-list i{
    border: 1px solid rgb(212, 212, 212);
    padding: 12px;
    border-radius: 29px;
    text-align: center;
}

.wish-list i:hover{
    background-color: rgb(204, 204, 204);
    cursor: pointer;
}



.product_detail p {
    font-size: 15px;
    color: rgb(121, 121, 121);
    line-height: 17px;

}

.header-productDetail p{
    font-weight: 700;
    color: black;
}

.header-productDetail{
    display: flex;
    justify-content: space-between;
}

.bag{
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom:50px;
   
}

.bottom-line{
    padding-top: 20px;
    border-bottom: 2px solid rgb(235, 235, 235);
}

.Summary_detail{
    margin-top: 27px;
    padding-bottom: 25px;
    border-bottom: 2px solid rgb(235, 235, 235);
}

.gena{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
}

.gena p:last-child{
    font-weight: 500;
    font-size: 15px;

}

.check-out-button{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 70px;
    background-color: black;
    border-radius: 35px;
    margin-top: 20px;
}

.check-out-button p{
    margin: 0px;
}


