/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 12, 2025, 1:15:44 PM
    Author     : DUY
*/
.footer-header {
    background-color: rgb(251, 211, 209);
}

.footer-last {
    background-color: rgb(237, 17, 100);
    color: white;
    line-height: 25px;
    /* text-align: center; */
    padding-top: 19px;
    padding-bottom: 30px;
}

.urt {
    font-size: 13px;
    font-weight: 400;
}

.urt li:hover {
    color: rgb(255, 230, 4);
    cursor: pointer;
}

.suggest-product img {
    width: 100%;
}
